/* Import Nunito Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
  @apply bg-light overflow-auto;
}

html,
body {
  @apply bg-light;
}

.\[\&\>svg\]\:size-4 > svg {
  width: auto !important;
  height: auto !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e4770 transparent;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
